<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @meta[request.path_info.to_s]['title'] %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="<%= @meta[request.path_info.to_s]['description'] %>">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
  
  <!-- Social -->
  <meta name="twitter:card" content="summary" />
  <meta property="og:url" content="https://sudoku-spielen.org" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Sudoku spielen" />
  <!-- <meta property="og:description" content="Я решил судоку за «Время» на «Уровень» уровне сложности." /> -->
  <meta property="og:image" content="https://sudoku-spielen.org/img/sudoku.jpg" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
  <link rel="stylesheet" href="css/remodal.css">
  <link rel="stylesheet" href="css/remodal-default-theme.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.nice-select.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
  <script src="js/remodal.js"></script>
  <script src="js/main-ui.js"></script>

  <% if @stashed_game.present? %>
    <script>
      var stashedGame = <%= @stashed_game.to_json %>
    </script>
  <% end %>
</head>
<body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-92422736-1', 'auto');
    ga('send', 'pageview');
</script>
  
  <header class="header">
    <div class="container">
      <div class="row clearfix">
        <div class="column half relative">
          <a href="/" class="header-logo"></a>
          <a href="javascript:void(0)" class="hamburger mobile"></a>
        </div>
        <div class="column half desktop">
          <div class="header-social desktop">
            <a href="https://www.facebook.com/sudokuspielenorg/" title="Wir auf Facebook" target="_blank"><img src="/img/icon-facebook.png" alt="Wir auf Facebook"></a>
            <a href="https://plus.google.com/u/1/105564766529877610125" title="Wir auf Google+" target="_blank"><img src="/img/icon-google.png" alt="Wir auf Google+"></a>
            <a href="https://twitter.com/sudoku_spielen" title="Wir auf Twitter" target="_blank"><img src="/img/icon-twitter.png" alt="Wir auf Twitter"></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class="nav top">
    <div class="container">
      <div class="row clearfix">
        <div class="column full clearfix no-padding mobile">

          <div class="left-side desktop nav-items">
            <a href="/" class="nav-item">Sudoku spielen</a>
            <a href="/regeln" class="nav-item">Regeln</a>
            <a href="/rangliste" class="nav-item">Rangliste</a>
            <a href="/sudoku-lösung" class="nav-item">Sudoku-Lösung</a>
            <a href="/sudoku-geschichte" class="nav-item">Sudoku Geschichte</a>
          </div>

          <div class="right-side">
            <% if current_user.present? %>
              <a href="javascript:void(0)" class="nav-auth logged">
                <i class="icon-user"></i>
                <span><%= current_user.name %></span>
              </a>
            <% else %>
              <a href="javascript:void(0)" class="nav-auth">
                <i class="icon-auth"></i>
                <span>Autorisierung</span>
              </a>
            <% end %>

            <a href="javascript:void(0)" class="nav-best"></a>

            <div class="best-players mobile best-dropdown">
              <div class="best-players-head">
                <span>Best players</span>
              </div>
              <div class="best-players-body">
                <%-@top_players_ten.each_with_index do |player, index| %>
                <div class="item">
                  <span class="number"><%= index+1 %></span>
                  <% if player.is_guest %>
                  <span class="name">Gast #<%= player.name %></span>
                  <% else %>
                  <span class="name"><%= player.name %></span>
                  <% end %>
                </div>
                <% end %>
                <div class="text aligned center">
                    <a href="/rangliste">All players</a>
                </div>
              </div>
            </div>

            <div class="auth-dropdown">
              <div class="logged">
                <% if current_user.present? %>
                  <form action="/sign_out" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn primary">Abmelden</button>
                  </form>
                <% end %>
              </div>

              <div class="unlogged <% if current_user.present? %>
                                   <%= 'hidden' %>
                                   <% end %>">
                <form action="/sign_in" method="POST" >
                  <input type="text" placeholder="E-mail" name="email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <input type="password" placeholder="Passwort" name="password" required="">
                  
                  <div class="toogle-block">
                    <a href="javascript:void(0)" class="toggle-link tr-open" data-block-name="block-lost-password">Passwort vergessen?</a>
                  </div>
                  <div data-block-name="block-lost-password" class="hidden">
                      <input type="text" placeholder="E-mail" id="c-resend-email">
                      <a href="javascript:void(0)" class="btn" id="send-password-btn">Passwort senden</a>
                  </div>

                  <button type="submit" class="btn" id="sign-in-btn">Anmelden</button>
                </form>

                <div class="toogle-block">
                  <a href="javascript:void(0)" class="toggle-link tr-open" data-block-name="block-registration">Registrierung</a>
                </div>
                <div data-block-name="block-registration" class="hidden">
                  <form action="/sign_up" method="POST">
                    <div class="form-error" id="error-register-email">Email bereits verwendet</div>
                    <input type="text" placeholder="E-mail" name="email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="c-register-email">
                    <div class="form-error" id="error-register-name">Login bereits verwendet</div>
                    <input type="text" placeholder="Login" name="name" required="" id="c-register-name">
                    <input type="password" placeholder="Passwort" id="c-password" name="password" required="">
                    <input type="password" placeholder="Passwort bestätigen" id="c-confirm_password" required="">
                    <button type="submit" class="btn" id="signup-btn">Registrieren</button>
                  </form>

                  <script>
                    var password = document.getElementById("c-password")
                      , confirm_password = document.getElementById("c-confirm_password");

                    function validatePassword(){
                      if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwörter nicht übereinstimmen");
                      } else {
                        confirm_password.setCustomValidity('');
                      }
                    }

                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
                  </script>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>


  <main class="main">
    <%= yield %>
  </main>


  <nav class="nav bottom">
    <div class="container">
      <div class="row clearfix">
        <div class="column full clearfix no-padding mobile">
        
          <div class="left-side desktop">
            <a href="/kontakte" class="nav-item">Kontakte</a>
            <a href="/datenschutzerklaerung" class="nav-item">Datenschutzerklärung (Disclaimer)</a>
            <!--
            <a href="/" class="nav-item">Sudoku Spielen</a>
            <a href="#" class="nav-item">Vorschriften</a>
            <a href="/regeln" class="nav-item">Regeln</a>
            <a href="#" class="nav-item">Strategie</a>
            <a href="/geschichte" class="nav-item">Geschichte Sudoku</a>
            -->
          </div>

        </div>
      </div>
    </div>
  </nav>


  <footer class="footer">
    <div class="container">
      <div class="row clearfix">
        <div class="column half">
          <span class="footer-copyright">Sudoku-Spielen.org &copy; 2017</span>
        </div>
        <div class="column half">
          <div class="footer-social">
            <a href="https://www.facebook.com/sudokuspielenorg/" title="Wir auf Facebook" target="_blank"><img src="/img/icon-facebook.png" alt="Wir auf Facebook"></a>
            <a href="https://plus.google.com/u/1/105564766529877610125" title="Wir auf Google+" target="_blank"><img src="/img/icon-google.png" alt="Wir auf Google+"></a>
            <a href="https://twitter.com/sudoku_spielen" title="Wir auf Twitter" target="_blank"><img src="/img/icon-twitter.png" alt="Wir auf Twitter"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <div class="remodal" data-remodal-id="modal-send" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Ihre Nachricht wurde erfolgreich verschickt</h1>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-restore" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Neues Passwort wurde auf <br>Ihr Email geschickt!</h1>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-restore-fail" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Incorrect email!</h1>
    <div class="text aligned center">
      <img src="img/icon-wrong.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-validate" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Diese Felder können nicht leer sein. Bitte überprüfe es nocheinmal</h1>
    <div class="text aligned center">
      <img src="img/icon-wrong.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-please-auth" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Bitte, anmelden oder registrieren, um diese Funktion zu benutzen</h1>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":)">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-solution-wrong" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Ihre Lösung ist nicht richtig!</h1>
    <div class="text aligned center">
      <img src="img/icon-wrong.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-solution-correct" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Glückwunsch!</h1>
    <p>Ihre Lösung ist richtig.</p>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":)">
    </div>
    <div class="text aligned center">
      <div class="modal-results">Zeit: <span class="res-time"></span></div>
      <div class="modal-results">Punkte: <span class="res-score"></span></div>
    </div>
    <div class="text aligned center modal-social">
      <p>Ergebnisse teilen</p>
      <div class="modal-social-icons"></div>
    </div>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>
  
   <div class="remodal" data-remodal-id="modal-solution-correct-without-scores" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Glückwunsch!</h1>
    <p>Ihre Lösung ist richtig. Aber Ihre Gesamtpunktzahl ist Null. Entschuldigung.</p>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":)">
    </div>
    <div class="text aligned center">
      <div class="modal-results">Zeit: <span class="res-time"></span></div>
      <div class="modal-results">Punkte: <span class="res-score"></span></div>
    </div>
    <div class="text aligned center modal-social">
      <p>Ergebnisse teilen</p>
      <div class="modal-social-icons"></div>
    </div>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-saves" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Gespeicherte Spiele</h1>
    <% if current_user %>
    <table class="saves">
      <% if @stashed_games %>
      <% @stashed_games.each do |game| %>
      <tr class="saves-item stassh">
        <td class="saves-item-mark marked"></td>
        <td class="saves-item-date"><%= game.created_at.strftime("%b %d, %H:%M") %></td>
        <td class="saves-item-score desktop">Punkte: <%= game.scores %></td>
        <td class="saves-item-time desktop">Zeit: <span class="t_time"><%= game.time %></span></td>
        <td class="saves-item-ctrls">
          <a href="/?stashed_game=<%= game.id %>" class="load-save">Spiel laden</a>
          <a href="#" class="delete-save" data-stash-id="<%= game.id %>"></a>
        </td>
      </tr>
      <% end %>
      <% end %>
      <tr class="saves-item emmpty">
        <td class="saves-item-mark"></td>
        <td class="saves-item-date empty">Leer</td>
        <td class="saves-item-score desktop"></td>
        <td class="saves-item-time desktop"></td>
        <td class="saves-item-ctrls"><button class="btn primary" id="stash-btn">Speichern</button></td>
      </tr>
    </table>
    <% end %>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Fenster schließen</a>
    </div>
  </div>

  <div class="overlay"></div>


  <script data-main="/js/main" src="js/ext/require.js"></script>
</body>
</html>
