<tbody id="raiting">
  <% @top_players.each_with_index do |player, index| %>
  <tr>
    <td class="text aligned right"><%= index+1 %></td>
    <% if player.is_guest %>
    <td class="text medium">Gast #<%= player.name %></td>
    <% else %>
    <td class="text medium"><%= player.name %></td>
    <% end %>
    <td class="text aligned right desktop"><%= player.game_counter.easy %></td>
    <td class="text aligned right"><%= player.game_counter.medium %></td>
    <td class="text aligned right desktop"><%= player.game_counter.hard %></td>
    <td class="text aligned right desktop"><%= player.game_counter.expert %></td>
    <td class="text aligned right desktop"><%= player.game_counter.insane %></td>
    <td class="text medium aligned right"><%= player.scores %></td>
    <td class="text col-last aligned right"><%= convert_month(player.game_counter.updated_at.strftime("%b %d, %Y")) %></td>
  </tr>
  <% end %>
</tbody>