<%= erb :hbanner, :layout => false %>

<div class="headline">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <h1>Rangliste von Sudoku Spielern</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row clearfix">
    <div class="column full">
      <!--
      <p class="text">Sudoku ist eines der beliebtesten Zahlenrätsel. Das Spiel wird regelmäßig in den Zeitungen und 
        Zeitschriften auf der ganzen Welt veröffentlicht. Extra für Sie haben wir die Online-Version des 
        klassischen Sudoku-Spiels entwickelt. Sudoku-Rätsel lösen ist der beste Weg, sich zu konzentrieren 
        und die Freizeit nützlich zu verbringen.</p>
        -->

      <p class="text">Jeder weiß, dass beim Wettbewerb nicht nur die Teilnahme sondern auch der Gewinn wichtig ist. In unserem Fall sind es mehrere Gewinne. Registrieren Sie sich auf unserer Webseite, verdienen Sie Punkte und bekommen Sie Leader der Rangliste!</p>
      <p>Die Punkte werden für jede erfolgreiche Lösung angerechnet. Die Punktzahl hängt vom Schwierigkeitsgrad ab:</p>
      <pre>
    — Sehr leicht — 1 Punkt;
    — Leicht — 2 Punkte;
    — Mittelschwer — 4 Punkte;
    — Schwer — 8 Punkte;
    — Sehr schwer — 16.</pre>
      <p>Jedesmal, wenn Sie Hinweis benutzen, wird die Punktzahl um 10% vermindert. 10 Hinweise und Ihr Gewinn wird zu Null.</p>
      <p>Sie bekommen eine Null auch wenn Sie Sudoku nicht selbständig lösen sondern auf "Lösen" klicken.</p>
         
      <div>
        <select>
          <option value="1">Beste Spieler in diesem Monat</option>
          <option value="2">Beste Spieler aller Zeiten</option>
        </select>
      </div>
      <br><br>
      <table class="table" cellspacing="0">
        <thead>
          <th class="col-id text aligned right">#</th>
          <th class="col-username text aligned left">Name</th>
          <th class="col-easy text aligned right desktop">Sehr leicht</th>
          <th class="col-medium text aligned right">
            <div class="desktop">Leicht</div>
            <div class="mobile">
              <select class="level">
                <option value="easy">Sehr leicht</option>
                <option value="medium">Leicht</option>
                <option value="hard">Mittelschwer</option>
                <option value="expert">Schwer</option>
                <option value="insane">Sehr schwer</option>
              </select>
            </div>
          </th>
          <th class="col-hard text aligned right desktop">Mittelschwer</th>
          <th class="col-expert text aligned right desktop">Schwer</th>
          <th class="col-insane text aligned right desktop">Sehr schwer</th>
          <th class="col-score text aligned right col-score">Punkte</th>
          <th class="col-last text aligned right">Letztes Spiel</th>
        </thead>

        <tbody id="raiting">
          <% @top_players.each_with_index do |player, index| %>
          <tr>
            <td class="text aligned right"><%= index+1 %></td>
            <% if player.is_guest %>
            <td class="text medium">Gast #<%= player.name %></td>
            <% else %>
            <td class="text medium"><%= player.name %></td>
            <% end %>
            <td class="text aligned right desktop"><%= player.game_counter.easy %></td>
            <td class="text aligned right"><%= player.game_counter.medium %></td>
            <td class="text aligned right desktop"><%= player.game_counter.hard %></td>
            <td class="text aligned right desktop"><%= player.game_counter.expert %></td>
            <td class="text aligned right desktop"><%= player.game_counter.insane %></td>
            <td class="text medium aligned right col-score"><%= player.scores %></td>
            <td class="text col-last aligned right"><%= convert_month(player.game_counter.updated_at.strftime("%b %d, %Y")) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <br><br><br>
    </div>
  </div>
</div>